name: Push DevStar Image to DockerHub

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      IMAGE_NAME:
        description: 'Docker image name'
        required: false
        type: string
        default: 'devstar-studio:latest'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    steps: 
      - name: Log in to DevStar.cn Registry  
        uses: docker/login-action@v2  
        with:  
          registry: devstar.cn  # 替换为目标镜像仓库  
          username: ${{ secrets.DEVSTAR_USERNAME }}  # 目标仓库用户名  
          password: ${{ secrets.DEVSTAR_PASSWORD }}  # 目标仓库密码  
          
      - name: Pull DevStar Image  
        run: |  
          docker pull devstarcn/${{ github.event.inputs.IMAGE_NAME }}
          docker pull devstar.cn/devstar/${{ github.event.inputs.IMAGE_NAME }} 
          
      - name: Log in to Target Docker Registry  
        uses: docker/login-action@v2  
        with:  
          registry: docker.io  # 替换为目标镜像仓库  
          username: ${{ secrets.DOCKER_USERNAME }}  # 目标仓库用户名  
          password: ${{ secrets.DOCKER_PASSWORD }}  # 目标仓库密码  

      - name: Tag Docker Image for Target Registry  
        run: |  
          docker tag devstar.cn/devstar/${{ github.event.inputs.IMAGE_NAME }}  devstarcn/${{ github.event.inputs.IMAGE_NAME }}  # 替换为目标镜像名称和标签

      - name: Push Docker Image to Target Registry  
        run: |  
          docker push devstarcn/${{ github.event.inputs.IMAGE_NAME }}  # 替换为目标镜像名称和标签
